/* Estilização Geral */

body{
    background-color: #000;
    height: 100vh;
}

.interface {
    max-width: 1520px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 25px;
    font-weight: 700;
    background-color: #483d8b;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

h2.titulo{
    color: aliceblue;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #483d8b;
}

button:hover {
    box-shadow: 0px 0px 8px #483d8b;
    transform: scale(1.05);
}

/* Estilização do Cabeçalho */

header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #5c5c5c;
    display: inline-block;
}

header a:hover {
    color: aliceblue;
    transform: scale(1.05);
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
    font-size: 20px;
}

/* Estilização do Topo do  Site */

section.topo-do-site {
    padding: 230px 4%;   /* Colocar depois 230px*/
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.topo-do-site h1{
    color: aliceblue;
    font-size: 70px;
    line-height: 70px;
}

.topo-do-site .txt-topo-site h1 span{
    color: #483d8b;
}

.topo-do-site .txt-topo-site p{
    color: aliceblue;
    font-size: 20px;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    border-radius: 10% 10% 10% 10%;
    box-shadow: 0px 0px 20px #483d8b;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* Estilização da Especialidades */

section.especialidades {
    padding: 40px 4%;
    background-color: #0a0a0a;
}

section.especialidades .flex{
    align-items: center;
    gap: 60px;
}

.especialidades .especialidades-box{
    color: aliceblue;
    padding: 40px; 
    margin: 70px;
    border-radius: 20px;
    transition: .2s;
}


.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: #483d8b;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

.especialidades .especialidades-box p{
    font-size: 27px;
} 

/* Estilização do Sobre */

section.sobre{
    padding: 230px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .img-sobre img{
    border-radius: 10%;
    cursor: pointer;
    transition: .2s;
}

.sobre .img-sobre img:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #483d8b;
}

.sobre .txt-sobre{
    color: aliceblue;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #483d8b;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
    font-size: 18px;
}

.sobre .txt-sobre p span{
    color: #483d8b;
}

.sobre .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #483d8b;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}